@media screen and (max-width: 480px) {

}

.login-title {
    display: flex;
    justify-content: center;
    margin: 100px auto 0px auto;
    width: 1000px;
    font-size: 100px;
    padding: 50px;
}

.login-box {
    width: 450px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto 100px auto;
    border: 2px lightgray solid;
    border-radius: 20px;
    background-color: whitesmoke;
}

.login-ldap {
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 50px auto 10px auto;
}

.login-btn {
    width: 100px;
    display: block;
    margin: 30px auto;

}

.login-img {
    width: 1000px;
    height: 350px;
    background-image: url("https://t1.kakaocdn.net/friends/kfo-common/pc/brand/brand_wearefriends2.jpg");
    background-position: center;
    background-size: cover;
    margin: 0px auto;
}