.start-title {
    display: block;
    margin-top: 50px;
}

.start-cards {
    margin-top: 30px;
    padding: 20px;
}

.btn {
    display: block;
    margin: auto;
}

.detail-cards {
    display: block;
}

.detail-card1, .detail-card2, .detail-card3{
    display: none;
}
